

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
    

}
.row .column{
    flex: 30%;
    width: auto;
    padding: 0 4px;
    max-height: 500px;
     overflow: hidden;

   

}
.video .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
     flex: 30%;
  
    

}

.video-row .video-column{
   
    width: auto;
    padding: 0 4px;
    

   

}
.row .column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 5;
    cursor: pointer;
    filter: grayscale(0.1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;

}
.row .column img:hover{
    filter: grayscale(0) brightness(1); 
}
.gh{
    font-weight: 800;
}
.image-text{
    color: rgb(27, 75, 27);
    font-size: 14px;
    font-weight: 600;
}
@media only screen and (max-width:800px)
{
    .row .column {
        flex:50%;
    }
}
@media only screen and (max-width:680px)
{
    .row .column {
        flex:100%;
    }
}

        